.sectionForm {
    border-radius: 30px;
    width: 100%;
    background: var(--secondary-color);
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .sectionForm {
        padding: 22px 64px 214px;
        gap: 157px;
    }
}

@media screen and (min-width: 1440px) {
    .sectionForm {
        padding: 40px 64px;
        width: 600px;
        gap: 107px;
    }

    .container {
        flex-direction: row;
        gap: 16px;
    }
}