.dashboardSection {
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background: #1f1f1f;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .dashboardSection {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 32px;
    }
}
@media screen and (min-width: 1440px) {
    .dashboardSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 353px;
        padding: 40px 20px 20px 20px;
    }
}